<footer class="footer text-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p>HSR LAYOUT,BANGALORE<br />KARNATAKA</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase">Around the Web</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-WARNING btn-fab btn-icon btn-round" role="button" href="#"><i class="fab fa-facebook fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-WARNING btn-fab btn-icon btn-round" role="button" href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-WARNING btn-fab btn-icon btn-round" role="button" href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="btn btn-WARNING btn-fab btn-icon btn-round" role="button" href="#"><i class="fab fa-github fab-fw"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-1">ABOUT US</h4>
                <p class="text-align:center">WE PROVIDE,ONE STOP SOLUTION FOR ALL VTU NEEDS<br> STOP THINKING START LEARNING </p>
                
            </div>
        </div>
    </div>
</footer>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © VTUNATION 2020</small></div>
</div>
