<app-header></app-header>
<div class="container mt-5">
    <div id="carouselExampleIndicators" class="carousel slide mb-5 mt-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/project/ΤΗΛΕΚΑΤΑΡΤΙΣΗ.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/project/Sastra-mtech-admission.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../assets/project/Website.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <section id="services" class=" text-white text-center">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i
                            class="tim-icons icon-laptop" style="font-size:80px;color:#28a745;"></i></span>
                    <h4><strong>LEARN TO CODE</strong></h4>
                    <p class="mb-0 text-faded">Learn from best material in market</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i
                            class="tim-icons icon-istanbul" style="font-size:80px;color:#28a745;"></i></span>
                    <h4><strong>ADMISSIONS</strong></h4>
                    <p class="mb-0 text-faded">Admissions in Bangalore</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i
                            class="tim-icons icon-book-bookmark" style="font-size:80px;color:#28a745;"></i></span>
                    <h4><strong>INTERNSHIP</strong></h4>
                    <p class="mb-0 text-faded"><span>Certified Training+Internship</span></p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i
                            class="tim-icons icon-app" style="font-size:80px;color:#28a745;"></i></span>
                    <h4><strong>PROJECTS</strong></h4>
                    <p class="mb-0 text-faded">Projects to Level Up Skills</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container mt-5">
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="container p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img">
                    <img class="img-thumbnail" src="../assets/project/1_LMEECiXhk715h-VCFyb-GA.jpeg"><span></span></div>
                
                <div class="col-lg-6 my-auto order-lg-1 showcase-text mt-2">
                    <div class="text-center">
                    <h2>LEAR WHATS TRENDING</h2>
                    <h4>GET STARTED WITHOUT WASTING TIME SEARCHING RIGHT CONTENT.WE HAVE COURSES THAT ARE BEST TO UPGRADE YOUR SKILLS</h4>
                    <div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                </div>
            </div>
            </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" >
                    <img class="img-thumbnail" src="../assets/project/admission.png"> <span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text mt-2">
                    <div class="text-center">
                    <h2 class="ml-2">GET ADMISSIONS IN TOP COLLAGES OF KARNATAKA</h2>
                    <h4>SEARCHING FOR COLLAGES? IF YOU HAVE RECENTLY FINISHED YOUR PUC/12 GET IN TOUCH WITH TO GET ADMISSION IN TOP COLLAGES OF BANGALORE!!</h4>
                    <div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img ">
                    <img class="img-thumbnail" src="../assets/project/internship (2).jpg"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text mt-2">
                    <div class="text-center">
                    <h2 >LOOKING FOR INTERNSHIP??</h2>
                    <h4>WE WILL GUIDE YOU TO GET INTERNSHIP, NO MATTER IF YOU ARE IN 1ST YEAR OR 2ND YEAR.   GET PAID INTERNSHIP IN BANGALORE. GET IN TOUCH WITH US!!</h4>
                    <div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" >
                    <img class="img-thumbnail" src="../assets/project/ProjectManagement.jpg"> <span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text mt-2">
                    <div class="text-center">
                    <h2 class="ml-2">STUCK WITH PROJECTS??</h2>
                    <h4>GET GUIDENCE FOR SELECTING PROJECT WHICH CAN HELP YOU LEARN IN-DEMAND SKILLS TO GET JOB EASILY.GET IN TOUCH WITH US FOR MORE INFORMATION</h4>
                    <div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="services" class=" text-white text-center mt-5">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">VTU NOTES</h3>
                <h2 class="mb-5">FOR ALL SEMESTERS</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card" style="width: 14rem;">
                        <div class="card-body bg-#adb5bd">
                            <h4><strong>FIRST YEAR</strong></h4>
                            <div class="text-center"><a class="btn btn btn-primary mt-4" role="button" [routerLink]="['/learning']">VIEW NOTES</a></div>
                    <p class="mb-0 text-faded"></p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 ">

                    <div class="card ml-2" style="width: 14rem;">
                        <div class="card-body">
                            <h4><strong>SECOND YEAR</strong></h4>
                            <div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">VIEW NOTES</a></div>
                    <p class="mb-0 text-faded"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card ml-2" style="width: 14rem;">
                        <div class="card-body">
                            <h4><strong>THIRD YEAR</strong></h4>
                            <div class="text-center"><a class="btn btn btn-warning mt-4" role="button" [routerLink]="['/learning']">VIEW NOTES</a></div>
                    <p class="mb-0 text-faded"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="card ml-2" style="width: 14rem;">
                        <div class="card-body">
                            <h4><strong>FOURTH YEAR</strong></h4>
                            <div class="text-center"><a class="btn btn btn-WARNING mt-4" role="button" [routerLink]="['/learning']">VIEW NOTES</a></div>
                    <p class="mb-0 text-faded"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Let&#39;s Get In Touch!</h2>
                    <hr class="my-4" />
                    <p class="mb-5">Ready to start your next project with us? That&#39;s great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center"><i class="fa fa-phone fa-3x mb-3 sr-contact" style="font-size:50px;color:#28a745;"></i>
                    <p>9108558715</p>
                </div>
                <div class="col-lg-4 mr-auto text-center"><i
                    class="tim-icons icon-email-85" style="font-size:60px;color:#28a745;"></i>
                    <p><a href="mailto:your-email@your-domain.com">nischayk3@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
    
</div>
<app-footer></app-footer>
