<app-header></app-header>
<!-- <div style="height:500px;background-image:url(https://miro.medium.com/max/10000/1*HLGtY6O2vUHqIyEbWdmBgA.jpeg);background-position:center;background-size:cover;">
    <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase"><strong>Your Favorite Source of Free Bootstrap Themes</strong></h1>
        <hr />
    </div>
</div> -->

<header class="masthead text-center text-white d-flex img-fluid"
    style="height:500px;background-image:url(https://miro.medium.com/max/10000/1*HLGtY6O2vUHqIyEbWdmBgA.jpeg);background-position:center;background-size:cover;">
    <div class="container my-auto">
        
    </div>
</header>
<section id="about" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col offset-lg-8 mx-auto text-center">
                <h1 class="text-white section-heading">We've got what you need!</h1>
                
                <h4 class="text-faded mb-4">LEARN VARIOUS PROGRAMMING LAGUAGES, ALL SEMESTER VTU NOTES AVAILABLE, BUILD
                     PROJECTS,GET INTERNSHIP,VTU QUESTION PAPERS, AND MUCH TO HELP YOU!!</h4>
            </div>
        </div>
    </div>
</section>
<section id="services" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">PRROGRAMMING LANGUAGES</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section id="" class="">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="card-body">
                    <a class="" href="../../assets/project/images.png"><img class="img-fluid"
                            src="../../assets/project/images.png">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>COMMING SOON</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="card-body"><a class="portfolio-box" href="../../assets/project/html.png"><img
                            class="img-fluid" src="../../assets/project/html.png">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>COMMING SOON</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="card-body"><a class="portfolio-box" href="../../assets/project/python.jpg"><img
                            class="img-fluid" src="../../assets/project/python.jpg">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>COMMING SOON</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="card-body"><a class="portfolio-box" href="../../assets/project/sql.jpg"><img
                            class="img-fluid" src="../../assets/project/sql.jpg">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>COMMING SOON</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="card-body"><a class="portfolio-box" href="../../assets/project/Java-programming.png"><img
                            class="img-fluid" src="../../assets/project/Java-programming.png">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>COMMING SOON</span></div>
                            </div>
                        </div>
                    </a></div>
                <div class="card-body"><a class="portfolio-box" href="../../assets/project/images (4).jpg"><img
                            class="img-fluid" src="../../assets/project/images (4).jpg">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"><span>Category</span></div>
                                <div class="project-name"><span>COMMING SOON</span></div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </section>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">VTU NOTES </h2>
                <p class="text-center">VTU NOTES FOR ALL BRANCHES AND FOR ALL SEMESTERS</p>
            </div>
            <div class="row justify-content-center features mt-5">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="name">COMPUTER SCIENCE</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu.</p><div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="name">INFORMATION SCIENCE</h3>
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                                Praesent aliquam in tellus eu.</p><div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="card"><div class="card-body">
                        <h3 class="name">ECE </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu.</p><div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                    </div>
                </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="card"><div class="card-body">
                        <h3 class="name">TCE </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu.</p><div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                    </div>
                </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="card"><div class="card-body">
                        <h3 class="name">CIVIL </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu.</p><div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="card"><div class="card-body">
                        <h3 class="name">MECHANICAL</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus.
                            Praesent aliquam in tellus eu.</p><div class="text-center"><a class="btn btn btn-success mt-4" role="button" [routerLink]="['/learning']">EXPLORE -></a></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-9 mx-auto">
            <h4 class="text-center">SUBSCRIBE TO NEWSLETTER FOR TECHNICAL UPDATES</h4>
            <h2 class="text-center">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0"><input type="email" class="form-control form-control-lg" placeholder="Enter your email..." /></div>
                    <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg" type="submit">Sign up!</button></div>
                </div>
            </form>
        </div>
    </div>

</div>
<app-footer></app-footer>